Repository joaopgrassi/otel-recipes, pull requests merged in 2024-05, with the labels that each got.

#177 Update footer to link to rendered OTel spec instead of GH
  src/site/src/lib/footer/Footer.svelte
Labels: area:site

#186 Fix broken layout in mobile/tablet views
  src/site/src/app.scss
  src/site/src/lib/header/Header.svelte
  src/site/src/routes/+page.svelte
  src/site/src/variables.scss
Labels: bug, area:site

#187 Show all recipes by default
  src/site/src/lib/_components/RecipeSteps.svelte
  src/site/src/lib/store/store.ts
Labels: enhancement, area:site

#212 Add SDK autoconfigure step to Springboot trace recipe
  src/java/traces/springboot-api/recipefile.json
Labels: bug, signal:trace, lang:java
